body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px; /* Increased padding for more spacing */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slightly increased box shadow */
}

h2 {
    margin-top: 0;
    margin-bottom: 20px; /* Added margin bottom for more spacing */
    color: #333; /* Darkened text color */
}

.form-group {
    margin-bottom: 25px; /* Increased margin bottom for more spacing */
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px; /* Added margin bottom for more spacing */
    color: #666; /* Darkened label text color */
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px; /* Increased padding for larger input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width */
}


textarea {
    resize: vertical;
    min-height: 150px; /* Set a minimum height for textarea */
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px; /* Increased padding for larger button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

button[type="submit"]:hover {
    background-color: #45a049;
}
